# Numbers and Math Functions

Int and Float

In [ ]:
print((2+4), type(2+4))
print((2/4), type(2 / 4))

6 <class 'int'>
0.5 <class 'float'>

Exponents, Quotient, Remainder

In [ ]:
print(2 ** 2)
print(5 // 4)
print(5 % 4)

4
1
1

Round and Absolute

In [ ]:
round(3.9)

4

In [ ]:
abs(-20)

20

## Developer Fundamentals I

In [ ]:
# Operator Precedence
# Follows BEDMAS rules.
20 + 3 * 4

32

Exercises

In [ ]:
# Guess the output of each answer before you click RUN
# Try to write down your answer before and see how you do... keep it mind I made it a little tricky for you :)

print((5 + 4) * 10 / 2)
# 45


print(((5 + 4) * 10) / 2)
# 45

print((5 + 4) * (10 / 2))
# 45

print(5 + (4 * 10) / 2)
# 25

print(5 + 4 * 10 // 2)
# 25

45.0
45.0
45.0
25.0
25

binary

In [ ]:
binary = bin(5)

0b101

In [ ]:
int(str(binary),2)

5

In [ ]:
print(int(new_int))

101

## Variables

In [1]:
iq = 150
user_age = iq/4

In [2]:
print(user_age, iq)

37.5 150

Constants

In [5]:
# Convention is to capitalize
PI = 3.14159

Dunder

In [7]:
# Dunder Variables
__dunder__ = "Do not touch"
print(__dunder__)

Do not touch

In [8]:
a, b, c = 1, 2, 3

In [9]:
print(a, b, c)

1 2 3

Augmented Assignment Operators

In [14]:
i = 10
i += 1
print(i)
i -= 1
print(i)
i *= 2
print(i)

11
10
20

### Strings

In [15]:
print(type("Hello!"))

<class 'str'>

In [17]:
username = 'coder'
password = 'secret'
long_string = '''
HELLO
O   O
-----
'''
print(long_string)

HELLO
O   O
-----

In [19]:
first_name = "James"
last_name = "Rooke"
full_name = first_name + ' ' + last_name
print(full_name)

James Rooke

String Concatenation

In [21]:
x = 'sdafasdfas' + 'sdafsadffasd'
print(x)

sdafasdfassdafsadffasd

Type Conversion

In [22]:
print(type(str(100)))

<class 'str'>

In [23]:
print(type(int(str(100))))

<class 'int'>

Escape Sequences

In [2]:
weather = 'It\'s \tSunny \nToday.'
print(weather)

It's 	Sunny
Today.

Formatted Strings

In [15]:
"""
This script demonstrates different ways to format and print strings in Python.
Variables:
    fname (str): The first name to be used in the greeting.
    lname (str): The last name to be used in the greeting.
Prints:
    A greeting message using different string formatting methods:
    - f-string
    - %-formatting
    - str.format() method
    - str.format() method with named placeholders
"""

fname = 'James'
lname = 'Rooke'

print("Hello " + fname + " " + lname + ".")
print(f"Hello {fname} {lname}.")
print("Hello %s %s." % (fname, lname))
print("Hello {} {}.".format(fname, lname))
print("Hello {str1} {str2}.".format(str1=fname, str2=lname))

Hello James Rooke.
Hello James Rooke.
Hello James Rooke.
Hello James Rooke.
Hello James Rooke.

String Indexes

In [27]:
#  01234567
# 'me me me'\

num_seq = '01234567'
print(num_seq[7])
print(num_seq[0:2])
print(num_seq[0:8:2])
print(num_seq[::-2])

7
01
0246
7531

Immutability

In [30]:
# Can't do this.
num_seq = '01234567'
num_seq[0] = '1'

TypeError: 'str' object does not support item assignment

In [31]:
num_seq += '8'
num_seq

'012345678'

Built In Functions

In [34]:
# len() function
print(len(num_seq))
print(num_seq[:len(num_seq)])

9
012345678

In [39]:
quote = 'to be or not to be'

# upper() method
print(quote.upper())

# capitalize() method
print(quote.capitalize())

# find() method
quote.find('be')

# replace() method
quote.replace('be', 'me') # strings are immutable, so this doesn't change the original string.

print(quote)

TO BE OR NOT TO BE
To be or not to be
to be or not to be

booleans

In [44]:
name = 'James'
is_huge = True
is_huge = not False
is_huge = not True

In [45]:
is_huge

False

In [46]:
print(bool('True'))

True

Type Conversion

In [47]:
name = 'James Rooke'
age = 42
relationship_status = 'in a relationship'

print(relationship_status)

in a relationship

In [52]:
birth_year = input('What year were you born? ')
print(birth_year)

1982

In [53]:
age = 2025 - int(birth_year)
print(f'You will be {age} years old in 2025.')

You will be 43 years old in 2025.

## Developer Fundamentals II

Commenting Your Code

In [56]:
# comment like this
# remember that code should be self-explanatory
# if you need to explain it, you should refactor it

'''
Multi-line comments are done
like this line right here.
'''

### Exercise: Password Checker

In [68]:
username = input('username: ')
password = input('password: ')
password_length = len(password)

In [70]:
print(f"Your username is {username} \n"
      f"Your password is {password_length * '*'},\n" 
      f"It's {password_length} characters long.")

Your username is JamesRooke
Your password is ******,
It's 6 characters long.

Magic Command for all variales in session.

In [72]:
%who

age	 birth_year	 fname	 is_huge	 lname	 name	 num_seq	 numbers	 password
password_length	 quote	 relationship_status	 selfish	 username	 weather

More detailed list.

In [74]:
%whos

Variable              Type    Data/Info
---------------------------------------
age                   int     43
birth_year            str     1982
fname                 str     James
is_huge               bool    False
lname                 str     Rooke
name                  str     James Rooke
num_seq               str     012345678
numbers               str     01234567
password              str     secret
password_length       int     6
quote                 str     to be or not to be
relationship_status   str     in a relationship
selfish               str     01234567
username              str     JamesRooke
weather               str     It's 	Sunny \nToday.

In [75]:
variable_list = %who_ls
variable_list

['age',
 'birth_year',
 'fname',
 'is_huge',
 'lname',
 'name',
 'num_seq',
 'numbers',
 'password',
 'password_length',
 'quote',
 'relationship_status',
 'selfish',
 'username',
 'weather']

In [76]:
for each in variable_list:
    print(each)

age
birth_year
fname
is_huge
lname
name
num_seq
numbers
password
password_length
quote
relationship_status
selfish
username
weather

### Lists

In [78]:
li = [1, 2, 3, 4, 5]
li2 = ['a', 'b', 'c', 'd', 'e']
li3 = [1, 2, 3.5, type('a'), 'b', 'c', True, False]

for each in li3:
    print(each)

1
2
3.5
<class 'str'>
b
c
True
False

List Slicing

In [80]:
amazon_cart = [
    'notebooks', 
    'sunglasses', 
    'toys', 
    'grapes'
]

In [82]:
print(amazon_cart[1:3])

['sunglasses', 'toys']

Lists are mutable.

In [84]:
amazon_cart[0] = 'laptop'
print(amazon_cart)

['laptop', 'sunglasses', 'toys', 'grapes']

In [85]:
new_cart = amazon_cart[:]
new_cart[0] = 'gum'
print(new_cart)

['gum', 'sunglasses', 'toys', 'grapes']

Matrix

In [89]:
matrix = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

print(matrix)
print(matrix[0])
print(matrix[0][2])

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
[1, 2, 3]
3

List Methods

In [116]:
basket = [1, 2, 3, 4, 5]
print(f'basket: {basket}')

basket: [1, 2, 3, 4, 5]

In [117]:
# adding
basket.append(6)
print(f'basket: {basket}')

basket: [1, 2, 3, 4, 5, 6]

In [118]:
basket.insert(4, "INSERT")
print(f'basket: {basket}')

basket: [1, 2, 3, 4, 'INSERT', 5, 6]

In [119]:
basket.extend([7, 8, 9])
print(f'basket: {basket}')

basket: [1, 2, 3, 4, 'INSERT', 5, 6, 7, 8, 9]

In [120]:
# removing
basket.pop() # whatever is at the end of the list
print(f'basket: {basket}')

basket: [1, 2, 3, 4, 'INSERT', 5, 6, 7, 8]

In [121]:
basket.remove(4) # removes the first instance of the value
print(f'basket: {basket}')

basket: [1, 2, 3, 'INSERT', 5, 6, 7, 8]

In [122]:
item = basket.pop(1)
print(f'basket: {basket}')
print(f'item: {item}')

basket: [1, 3, 'INSERT', 5, 6, 7, 8]
item: 2

In [123]:
basket.clear()
print(f'basket: {basket}')

basket: []

List Methods 2